* {
  box-sizing: border-box;
}

body {
  margin: 35px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(33, 33, 38, 0.15);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Style Header - start */

/* font-family: "courier-prime",
monospace;
font-weight: 400;
font-style: normal; */

/* font-family: "courier-prime",
monospace;
font-weight: 400;
font-style: italic; */

/* font-family: "courier-prime",
monospace;
font-weight: 700;
font-style: normal; */

/* font-family: "courier-prime",
monospace;
font-weight: 700;
font-style: italic; */

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

header h1 {
  font-family: "permanent-marker", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;

  color: #F2C53D;
  -webkit-text-stroke: 1px #402A0F;

  width: 100%;
  text-align: right;
  border-bottom: 1px solid black;

  margin: 0;
}

nav ul {
  margin: 5px 0 0 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  padding: 0;
  font-family: "courier-prime", monospace;
  font-weight: 400;
  font-style: normal;
}

/* Style Header - end */

/* Add new workout button - start */

div.workout-button-container {
  width: 100%;
}

div.workout-button-container button {

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  width: 250px;
  height: 40px;

  background-color: rgb(242, 230, 206, 0.8);

  border: 3px solid rgb(242, 197, 61);
  border-radius: 10px;

  font-family: "courier-prime",
    monospace;
  font-weight: 700;
  font-style: normal;
}

div.workout-button-container button:hover {

  background-color: rgb(242, 197, 61, 0.8);
  ;
}


/* Add new workout button - end */

/* Workout card - start */

div.workout-cards-area {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  margin: 30px 0 30px 0;
}

div.workout-card {
  width: 600px;
  height: auto;

  background-color: rgb(255, 255, 255, 0.5);
  border: 2px solid rgb(242, 197, 61);
  border-radius: 10px;

  margin-top: 10px;
  margin-bottom: 10px;

  padding: 10px;
}

div.workout-card-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div.workout-card input {
  margin: 0;
  font-family: "courier-prime", monospace;
  font-weight: 700;
  font-style: normal;

  background: none;
  border: none;
  outline: none;

  font-size: 24px;
}

div.workout-card ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 0;
}

div.workout-card ul li {
  list-style-type: none;
  padding: 0;
  font-family: "courier-prime", monospace;
  font-weight: 400;
  font-style: normal;

  width: 90px;
  text-align: center;

  font-size: 16px;
}

div.workout-card ul li.exercise {
  width: 225px;
}

div.exercise-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.exercise-tab {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: white;
  border-radius: 10px;

  padding: 0;
  margin: 3px 0 2px 0;
}

div.exercise-tab input {
  font-family: "courier-prime", monospace;
  font-weight: 400;
  font-style: normal;

  width: 90px;
  text-align: center;

  font-size: 14px;

  margin: 5px 0 5px 0;

  background: none;
  border: none;
  outline: none;
}

div.exercise-tab input.exercise-tab {
  width: 225px;
}

button.add-exercise-button-area {
  margin: 20px 5px 0px 5px;
  float: right;

}

button.exercise-delete-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0 5px 0 5px;
}

button.exercise-delete-button svg {
  fill: rgb(255, 0, 0, 0.3);
}


/* Workout card - end */


/* Login - start */
div.sign-up-login-container {
  height: 45vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 5rem 0 0 0;
}

div.login-container {

  /* height: 60vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

div.login-container h2 {
  font-family: "permanent-marker", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;

  color: #F2C53D;
  color: black;
  -webkit-text-stroke: 1px #402A0F;

  margin: 0;
}

div.login-container form {

  font-family: "courier-prime",
    monospace;
  font-weight: 400;
  font-style: normal;

  display: flex;
  flex-direction: column;
}

div.login-container form button {
  margin-top: 15px;

  font-family: "courier-prime",
    monospace;
  font-weight: 400;
  font-style: normal;
}

/* Login-end */

/* Sign up-start */
div.login-container {

  /* height: 60vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

div.sign-up-container h2 {
  font-family: "permanent-marker", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;

  color: #F2C53D;
  color: black;
  -webkit-text-stroke: 1px #402A0F;

  margin: 0;
}

div.sign-up-container form {

  font-family: "courier-prime",
    monospace;
  font-weight: 400;
  font-style: normal;

  display: flex;
  flex-direction: column;
}

div.sign-up-container form button {
  margin-top: 15px;

  font-family: "courier-prime",
    monospace;
  font-weight: 400;
  font-style: normal;
}

p.comment {
  font-family: "courier-prime",
    monospace;
  font-weight: 400;
  font-style: normal;

  font-size: 14px;

  color: rgb(255, 0, 0, 0.5);
}

/* Sign up-end */

/* example - start */

div.example p {
  font-family: "courier-prime",
    monospace;
  font-weight: 400;
  font-style: normal;
  color: black;
  margin: 0;
}

/* example - end */

@media (max-width: 525px) {

  body {
    margin: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: rgb(33, 33, 38, 0.15);
  }


  div.main-page-container {
    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  div.workout-card {
    width: 400px;
    height: auto;

    background-color: rgb(255, 255, 255, 0.5);
    border: 2px solid rgb(242, 197, 61);
    border-radius: 10px;

    margin-top: 10px;
    margin-bottom: 10px;

    padding: 10px;
  }

  div.workout-card ul li.exercise {
    width: 100px;
  }

  div.exercise-tab input.exercise-tab {
    width: 85px;
  }

  div.workout-card input {
    margin: 0;
    font-family: "courier-prime", monospace;
    font-weight: 700;
    font-style: normal;

    background: none;
    border: none;
    outline: none;

    font-size: 16px;
  }

  div.workout-card ul li {
    list-style-type: none;
    padding: 0;
    font-family: "courier-prime", monospace;
    font-weight: 400;
    font-style: normal;

    width: 90px;
    text-align: center;

    font-size: 14px;
  }

  div.exercise-tab input {
    font-family: "courier-prime", monospace;
    font-weight: 400;
    font-style: normal;

    width: 90px;
    text-align: center;

    font-size: 12px;

    margin: 5px 0 5px 0;

    background: none;
    border: none;
    outline: none;
  }
}